!!! 1.1
%html{"xml:lang" => "pt-br", :xmlns => "http://www.w3.org/1999/xhtml"}
  / design by: JONATHAN
  %head
    %title
      Bolão entre amigos Leo Plotter!

    %link{:href => "/images/favicon.png", :rel => "SHORTCUT ICON"}/
    
    = include_stylesheets :application
    = include_javascripts :jquery, :application
    = csrf_meta_tag

  %body
    %a#opine_beta
      = image_tag "beta-1.png", :alt => "Beta"

    #wrapper
      #header

        / Logotipo
        #logo
          = image_tag "bola-2.png", :class => "middle"

        /#menu
        = render "layouts/menu"

        / Logoff
        #usuario
          - if user_signed_in?
            = link_to current_user.nickname, edit_user_registration_path
            = link_to "Sign out", destroy_user_session_path
          - elsif controller_name != 'sessions'
            = link_to "Sign in", new_user_session_path

      / content
      #content
        #content_ruby
          %p.demo
            Este site é a demonstração - Bolão entre amigos Leo Plotter!

          = yield
